<div id="main">
    <div id="progressbar" #progressBar (window:scroll)="onWindowScroll($event)" [style.height.%]="progressHeight"></div>
    <div id="scrollPath"></div>
<div>
    <h2>Header one</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus


        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolo
        
        r sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consequatur nostrum culpa magnam accusamus at
        rerum sit sequi error dignissimos, velit
        possimus excepturi, totam qui voluptates doloribus ipsam tempora quod?
        Lorem ipsum dolor
        
        sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio volu
        
        ptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio voluptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at odit numquam tempora rem hic, molestias
        accusamus
        , labore illo delectus voluptates saepe placeat minima ea aspernatur. Nobis amet explicabo provident.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ab quas mollitia labore, similique sed excepturi
        porro at optio volu
        
        ptatibus reprehenderit provide
        nt dignissimos quo cumque iure doloribus fuga esse quibusdam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem amet pariatur. Facere commodi eos ipsum
        aspernatur omnis nulla quae porro ad iste
        voluptates, ut amet quam suscipit dicta enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate explicabo voluptatum? Velit ullam
        obcaecati possimus cum quo architecto deleniti consequuntur ut unde at
        labore dignissimos, impedit perspiciatis laborum nihil?</p>
</div>
</div>